               <div class="post-preview">
                 <a href="{{ .Permalink }}">
                      <h2 class="post-title">{{ .Title }}</h2>
                      <h3 class="post-subtitle">{{ .Description }}</h3>
                    </a>
                    <p class="post-meta">Posted 
                    {{ with .Site.Params.Author }}
                    by <a href="#">{{ . }}</a>
                    {{ end }}
                    on {{ dateFormat .Site.Params.DateForm .Date }}
							 	    {{ with .Params.categories }}
                    <br />
                    {{ partial "categories.html" .}}
										{{ end }}
							 	    {{ with .Params.tags }}
                    <br />
                    {{ partial "tags.html" .}}
	                  {{ end }}
                  </p>
                </div>
                <hr>
